@charset "UTF-8";

/* =========================================


  TABLE OF CONTENTS
    Classes for testing
    Base
    Typography
    Navigation
    Containers


========================================= */


/* class for testing
------------------------------------------*/

.red { outline: 1px solid red; }
.blue { outline: 1px solid blue; }



/* Base
------------------------------------------*/

html,
body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

/* default, the navbar is 50px high.
body padding prevents nav from overlaying content*/
body { padding-top: 50px; }



/* Typography
------------------------------------------*/

h1 {
  color: #fff;
  font-size: 4em;
  font-weight: 500;
  margin: auto;
}

h2 {
  font-size: 2em;
  font-weight: 300;
  margin: auto; 
}



/* Navigation
------------------------------------------*/
/* nav bar button over-write*/

.navbar-default { /*line 4495*/
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 0px solid transparent;
  border-radius: 0px;
}

.navbar-toggle:focus {
  outline: 0;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 24px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

.navbar-default .navbar-toggle {
  border-color: #ddd;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #f8f8f8;
}

/* nav bar animation container */
.container-ai {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  transition: 0.3s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 4px) ;
    transform: rotate(-45deg) translate(-5px, 4px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-4px, -4px) ;
    transform: rotate(45deg) translate(-4px, -4px) ;
}



/* Containers 
------------------------------------------*/

.parent {
  display: flex;
  flex-wrap: wrap;
}

.child {
  display: flex;  
  flex: 50vw;
  height: 50vw;
}

.hero { background-image: linear-gradient(-225deg, #20e2d7 0%, #f9fea5 100%); }

.landing { background-color: #333; }

/* sections */
.sec1 h2,
.sec2 h2,
.sec3 h2 { 
  color:#90a4ae;
}

.sec2 { background-color: #eceff1; }

.sec3 { background-color: #cfd8dc; }

.sec4 { background-color: #b0bec5; }

.sec4 h2 { color: #546e7a; }

















