@charset "UTF-8";
/* COLORS: ==============
 #1E90FF;  bighter
 #62B1FF;  main color
====================== */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

/*class for testing*/
.red{outline:1px solid red;}
.blue{outline:1px solid blue;}
.landing {
    background-color: #333;
}
/* nav bar button over-write*/
.navbar-default { /*line 4495*/
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 0px solid transparent;
  border-radius: 0px;
}
.navbar-toggle:focus {
  outline: 0;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 24px;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
.navbar-default .navbar-toggle {
  border-color: #ddd;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #f8f8f8;
}
/* nav bar animation */
.container-ai {
    display: inline-block;
    cursor: pointer;
}
.bar1, .bar2, .bar3 {
    transition: 0.3s;
}
/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 4px) ;
    transform: rotate(-45deg) translate(-5px, 4px) ;
}
/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}
/* Rotate last bar */
.change .bar3 {
    webkit-transform: rotate(45deg) translate(-4px, -4px) ;
    transform: rotate(45deg) translate(-4px, -4px) ;
}




















